-
<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <section id="home">
    <video
      oncanplay="this.muted=true"
      loop
      autoplay
      id="video-backgroud"
      src="../assets/videoBackround.mp4"
      type="video/mp4"
    ></video>
    <div class="video-overlay"></div>

    <h1 class="main-title">Your title</h1>

    <!--sosial icons-->
    <div class="social-icons">
      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a href="" target="_blank" rel="noopner"
        ><fa-icon [icon]="['fab', 'codepen']"></fa-icon
      ></a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'medium']"></fa-icon>
      </a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
      </a>
    </div>
  </section>

  <section id="about"></section>
  <section id="project"></section>
  <section id="contact"></section>
  <section id="footer"></section>
</div>
