-
<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <section id="home">
    <video
      oncanplay="this.muted=true"
      loop
      autoplay
      id="video-backgroud"
      src="../assets/home-page.mp4"
      type="video/mp4"
    ></video>
    <div class="video-overlay"></div>

    <h1 class="main-title">Your title</h1>

    <!--sosial icons-->
    <div class="social-icons">
      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a href="" target="_blank" rel="noopner"
        ><fa-icon [icon]="['fab', 'codepen']"></fa-icon
      ></a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
      </a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'medium']"></fa-icon>
      </a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>

      <a href="" target="_blank" rel="noopner">
        <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
      </a>
    </div>
  </section>

  <div class="background">
    <section id="about">
      <div class="card">
        <img src="../assets/img/bird.jpg" alt="" class="about-img" />
        <div class="card-body">
          <h1 class="card-title">About</h1>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            nihil itaque quidem reiciendis, possimus eos obcaecati explicabo,
            eius asperiores sit consequuntur nulla. Nisi velit distinctio
            architecto suscipit tempore doloribus itaque?
          </p>
          <a href=""><div class="card-button">View Resume</div></a>
        </div>
      </div>
    </section>
  </div>
  <section id="project"></section>
  <section id="contact">
    <a
      href="mail:your@mail.address"
      class="contact-mail"
      target="_blank"
      rel="noopner"
      >contact@mail
    </a>

    <video
      oncanplay="this.muted=true"
      loop
      autoplay
      id="video-backgroud-2"
      src="../assets/videoBackround.mp4"
      type="video/mp4"
    ></video>
  </section>
  <section id="footer"></section>
</div>
