section {
  min-height: 100vh;
  height: auto;
  position: relative;
}

a,
li {
  text-decoration: none;
}
/*home section*/

#home {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video-backgroud {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: auto;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: alex-brush;
  src: url("../assets/font/alex-brush.ttf");
}
.main-title {
  position: absolute;
  top: 30%;
  color: white;
  font-family: alex-brush, sans-serif;
  font-size: 5rem;
}

.social-icons {
  position: absolute;
  top: 60%;
}
.social-icons fa-icon {
  font-size: 3rem;
  color: white;
  padding: 7.5px 15px;
  cursor: pointer;
}

.social-icons fa-icon:hover {
  color: #202020;
  background-color: wheat;
}

/* -- about section --------------- */
#about {
  background-color: dodgerblue;
}

/* -- projects section ---------------*/
#project {
  background-color: orange;
}
/* -- contact section -------------- */
#contact {
  background-color: red;
}
/* --  footer section --------------- */
#footer {
  background-color: purple;
  min-height: unset;
  height: 150px;
}
