a,
li {
  text-decoration: none;
}
.sidebar-items {
  position: fixed;
  z-index: 10;
  list-style: none;
  font-size: 3rem;
}

.sidebar-items li {
  text-transform: uppercase;
  font-family: "Segoe UI", sans-serif;
  padding: 2px 14px 5px;
  margin-bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-items li:hover {
  color: rgba(0, 0, 0, 0.85);
  background-color: #fbfbfb;
  transition: 0.3s;
}
